<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @server.url %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @server.ip_address %>
</p>

<p>
  <strong>Username:</strong>
  <%= @server.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @server.password %>
</p>

<p>
  <strong>Database type:</strong>
  <%= @server.database_type %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
